* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --color-primary: #333;
  --color-secondary: #fff;
  --color-secondary-m: hsla(0, 0%, 100%, 0.5);
}

html[data-theme='dark'] {
  --color-primary: #fff;
  --color-secondary: #333;
  --color-secondary-m: rgba(51, 51, 51, 0.5);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  background-image: url('birdy-the-bird.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-primary);
  transition: all 0.5s ease-in-out;
}
